<form method="post" action="{{ path('app_personnages_obtenu_delete', {'id': personnages_obtenu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personnages_obtenu.id) }}">
    <button class="btn">Delete</button>
</form>
