{% extends 'base.html.twig' %}

{% block title %}New PersonnagesObtenu{% endblock %}

{% block body %}
    <h1>Create new PersonnagesObtenu</h1>

    {{ include('personnages_obtenu/_form.html.twig') }}

    <a href="{{ path('app_personnages_obtenu_index') }}">back to list</a>
{% endblock %}
