{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block body %}
    <h1>{{ personnage.nomPersonnage }}</h1>

    <div>
        <img>
        <img>
        <img>
        <img>
        <img>
        <img>
        <img>
        <img>
        <img>
        <img>
    </div>

    <div>
        <img href="">
        <div> stat </div>
        <div> materiaux up </div>
    </div>

    <div> Passif 1 </div>

    <div> Passif 2 </div>

    <div>
        <div> Attaque de base </div>
        <div> Multi </div>
    </div>

    <div>
        <div> Dash Attaque </div>
        <div> Multi </div>
    </div>

    <div>
        <div> Attaque de soutient </div>
        <div> Multi </div>
    </div>

    <div>
        <div> Esquive </div>
        <div> Multi </div>
    </div>

    <div>
        <div> Competence </div>
        <div> Multi </div>
    </div>

    <div>
        <div> Ulti </div>
        <div> Multi </div>
    </div>

    <div>
        <div>
            <div> Art C0 </div>
            <div> Art C3 </div>
            <div> Art C6 </div>
        </div>
        <img href ="">
    <div>

    <div> Doublons 1 </div>

    <div> Doublons 2 </div>

    <div> Doublons 3 </div>

    <div> Doublons 4 </div>

    <div> Doublons 5 </div>

    <div> Doublons 6 </div>

    <a href="{{ path('app_personnages_index') }}">back to list</a>

{% endblock %}
