{% extends 'base.html.twig' %}

{% block title %}Phaethon Relic{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center gap-8 p-8 my-8">
        
        <!-- Logo de Phaethon Relic -->
        <img src="{{ asset('images/logo/Logo-Phaethon_Relic.webp') }}" class="">

        <!-- Lien de connexion -->
        <div class="bg-black flex items-center justify-center w-full p-8 m-8">
            <a href="{{ path('app_login') }}" class="text-center text-2xl text-white">Connexion</a>
        </div>

        <!-- Lien d'inscription -->
        <div class="bg-black flex items-center justify-center w-full p-8 my-8">
            <a href="{{ path('app_register') }}" class="text-center text-2xl text-white">Inscription</a>
        </div>
    </div>
{% endblock %}
