<div style ="background-color: #1E1E1E">
<img src="{{ asset('images/logo/Logo-Phaethon_Relic.png') }}">

<h1>Veuillez confirmer votre e-mail.</h1>

<p> Merci de vous être inscrit sur Phaethon's Relic !<br>
    Nous sommes ravis de vous accueillir dans notre communauté passionnée par l'univers de Zenless Zone Zero.<br>
    Pour compléter votre inscription, il vous suffit de valider votre adresse e-mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail.</a>.<br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
</div>