{% extends 'base.html.twig' %}

{% block title %}Edit Moteurs{% endblock %}

{% block body %}
    <h1>Edit Moteurs</h1>

    {{ include('moteurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_moteurs_index') }}">back to list</a>

    {{ include('moteurs/_delete_form.html.twig') }}
{% endblock %}
