{% extends 'base.html.twig' %}

{% block title %}BangboosObtenu{% endblock %}

{% block body %}
    <h1>BangboosObtenu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bangboos_obtenu.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bangboos_obtenu_index') }}">back to list</a>

    <a href="{{ path('app_bangboos_obtenu_edit', {'id': bangboos_obtenu.id}) }}">edit</a>

    {{ include('bangboos_obtenu/_delete_form.html.twig') }}
{% endblock %}
