<form method="post" action="{{ path('app_disques_delete', {'id': disque.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ disque.id) }}">

    <div class="bg-red-600 flex items-center justify-center w-full p-8 my-8">
        <button class="btn">Supprimer le disque</button>
    </div>
</form>
