{% extends 'base.html.twig' %}

{% block title %}Edit Disques{% endblock %}

{% block body %}
    {{ include('disques/_form.html.twig', {'button_label': 'Mise a jour'}) }}

    <div class="bg-red-600 flex items-center justify-center w-full p-8 my-8">
        {{ include('disques/_delete_form.html.twig') }}
    </div>
{% endblock %}
