{% extends 'base.html.twig' %}

{% block title %}Edit Factions{% endblock %}

{% block body %}
    <h1>Edit Factions</h1>

    {{ include('factions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_factions_index') }}">back to list</a>

    {{ include('factions/_delete_form.html.twig') }}
{% endblock %}
