{% extends 'base.html.twig' %}

{% block title %}Edit Elements{% endblock %}

{% block body %}
    <h1>Edit Elements</h1>

    {{ include('elements/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_elements_index') }}">back to list</a>

    {{ include('elements/_delete_form.html.twig') }}
{% endblock %}
