@import "tailwindcss";

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #1E1E1E;
    font-family: 'Lexend', sans-serif;
}

.feu {
    background-color: hsla(0, 93%, 42%, 0.6);
}

.glace {
    background-color: hsl(198, 82%, 45%, 0.6);
}

.électrique {
    background-color: hsl(239, 100%, 50%, 0.6);
}

.physique {
    background-color: hsla(44, 76%, 46%, 0.6);
}

.éther {
    background-color: hsl(306, 83%, 45%, 0.6);
}

.NoElements {
    background-color: hsl(0, 0%, 0%, 0.6);
}

.navBar {
    background-color: hsl(0, 0%, 0%, 0.95);
}

.active {
    background-color: #1E1E1E;
    border: 1px solid red;
}