<form method="post" action="{{ path('app_builds_delete', {'id': build.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ build.id) }}">

    <div class="bg-red-600 flex items-center justify-center w-full p-8 my-8">
        <button class="btn">Supprimer le build</button>
    </div>
</form>