{% extends 'base.html.twig' %}

{% block title %}Builds index{% endblock %}

{% block body %}
    <h1>Builds index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for build in builds %}
            <tr>
                <td>{{ build.id }}</td>
                <td>
                    <a href="{{ path('app_builds_show', {'id': build.id}) }}">show</a>
                    <a href="{{ path('app_builds_edit', {'id': build.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_builds_new') }}">Create new</a>
{% endblock %}
