{% extends 'base.html.twig' %}

{% block title %}New Builds{% endblock %}

{% block body %}
    <h1>Create new Builds</h1>

    {{ include('builds/_form.html.twig') }}

    <a href="{{ path('app_builds_index') }}">back to list</a>
{% endblock %}
