<form method="post" action="{{ path('app_bangboos_delete', {'id': bangboo.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bangboo.id) }}">
    
    <div class="flex items-center justify-center w-full p-8 my-8 bg-red-600">
        <button class="btn">Supprimer le bangboo</button>
    </div>
</form>