{% extends 'base.html.twig' %}

{% block title %}Bangboos index{% endblock %}

{% block body %}
    <div class="filtre"> </div>

    <div>
        {% for bangboo in bangboos %}
            <a href="{{ path('app_bangboos_show', {'id': bangboo.id}) }}">
                <div class"">
                    <img src="{{ asset('images/bangboos/' ~ bangboo.nomBangboo|replace({' ': '_'}) ~ '.jpg') }}" class= "w-36">
                    <p> {{ bangboo.nomBangboo }}
                    <img src="{{ asset('images/raretes/' ~ bangboo.rarete.rarete|replace({' ': '_'}) ~ '.jpg') }}" class= "w-24">
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
