{% extends 'base.html.twig' %}

{% block title %}{{ bangboo.nomBangboo }}{% endblock %}

{% block body %}
    <h1>{{ bangboo.nomBangboo }}</h1>

    <div>
        <img href="">
        <div> stat </div>
        <div> materiaux up </div>
    </div>

    <div>
        <div> A </div>
        <div> Multi </div>
    </div>

    <div>
        <div> B </div>
        <div> Multi </div>
    </div>

    <div>
        <div> C </div>
        <div> Multi </div>
    </div>

    <a href="{{ path('app_bangboos_index') }}">back to list</a>

{% endblock %}
