{% extends 'base.html.twig' %}

{% block title %}Edit Raretes{% endblock %}

{% block body %}
    <h1>Edit Raretes</h1>

    {{ include('raretes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_raretes_index') }}">back to list</a>

    {{ include('raretes/_delete_form.html.twig') }}
{% endblock %}
