{% extends 'base.html.twig' %}

{% block title %}New Raretes{% endblock %}

{% block body %}
    <h1>Create new Raretes</h1>

    {{ include('raretes/_form.html.twig') }}

    <a href="{{ path('app_raretes_index') }}">back to list</a>
{% endblock %}
