{% extends 'base.html.twig' %}

{% block title %}Edit MoteursObtenu{% endblock %}

{% block body %}
    <h1>Edit MoteursObtenu</h1>

    {{ include('moteurs_obtenu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_moteurs_obtenu_index') }}">back to list</a>

    {{ include('moteurs_obtenu/_delete_form.html.twig') }}
{% endblock %}
