{% extends 'base.html.twig' %}

{% block title %}New MoteursObtenu{% endblock %}

{% block body %}
    <h1>Create new MoteursObtenu</h1>

    {{ include('moteurs_obtenu/_form.html.twig') }}

    <a href="{{ path('app_moteurs_obtenu_index') }}">back to list</a>
{% endblock %}
