{% extends 'base.html.twig' %}

{% block title %}DisquesObtenu index{% endblock %}

{% block body %}
    <h1>DisquesObtenu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for disques_obtenu in disques_obtenus %}
            <tr>
                <td>{{ disques_obtenu.id }}</td>
                <td>
                    <a href="{{ path('app_disques_obtenu_show', {'id': disques_obtenu.id}) }}">show</a>
                    <a href="{{ path('app_disques_obtenu_edit', {'id': disques_obtenu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_disques_obtenu_new') }}">Create new</a>
{% endblock %}
